<!DOCTYPE html>
<html id="ng-app" ng-app="piwikApp">
<head>
    <meta charset="utf-8">
    <title>Matomo &rsaquo; {{ pageTitle|default('CoreUpdater_UpdateTitle'|translate) }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1"/>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow">

    <link rel="stylesheet" type="text/css" href="index.php?module=CoreUpdater&action=getUpdaterCss"/>
    <script type="text/javascript" src="index.php?module=CoreUpdater&action=getUpdaterJs"></script>

    <script type="text/javascript">{{ getJavascriptTranslations()|raw }}</script>

    {% include "@CoreHome/_favicon.twig" %}
    {% include "@CoreHome/_applePinnedTabIcon.twig" %}
</head>
<body id="simple" ng-app="app">


<div class="logo">
    {% if hasSVGLogo %}
        <!--
        <img src='{{ logoSVG }}' tabindex="3"
             style="height: 40px;"
             alt="{% if isCustomLogo %}{{ 'General_PoweredBy'|translate }} {% endif %}Matomo"
             class="{% if not isCustomLogo %}default-piwik-logo{% endif %}" />
        -- >
        OYOclass Analytics
    {% else %}
        <img src='{{ logoHeader }}' alt="{% if isCustomLogo %}{{ 'General_PoweredBy'|translate }} {% endif %}Matomo" />
    {% endif %}
</div>

<div class="box">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
