<span id="logo" class="brand-logo">
    <a href="index.php" tabindex="-1"
       title="{% if isCustomLogo %}{{ 'General_PoweredBy'|translate }} {% endif %}Matomo # {{ 'General_OpenSourceWebAnalytics'|translate }}"
    >
    {% if hasSVGLogo %}
        <!--
        <img src='{{ logoSVG }}?matomo' tabindex="3"
             alt="{% if isCustomLogo %}{{ 'General_PoweredBy'|translate }} {% endif %}Matomo"
             class="{% if not isCustomLogo %}default-piwik-logo{% endif %}" />
        -->
        OYOclass Analytics
    {% else %}
        <img src='{{ logoHeader }}?matomo' alt="{% if isCustomLogo %}{{ 'General_PoweredBy'|translate }} {% endif %}Matomo" />
    {% endif %}
</a>
</span>
